<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members | Vanguar Hub</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/members.css') }}"
    />
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/sidebars.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <aside class="sidebar">
      <!-- Sidebar Header -->
      <header class="sidebar-header">
        <a href="#" class="header-logo">
          <img src="/static/logo.png" alt="VanguardHub" />
        </a>
        <button class="toggler sidebar-toggler">
          <span class="material-symbols-rounded">chevron_left</span>
        </button>
      </header>

      <nav class="sidebar-nav">
        <!-- Primary Top Navigation -->
        <ul class="nav-list primary-nav">
          <li class="nav-item">
            <a href="dashboard.html" class="nav-link">
              <span class="nav-icon material-symbols-rounded">dashboard</span>
              <span class="nav-label">Dashboard</span>
            </a>
            <span class="nav-tooltip">Dashboard</span>
          </li>
          <li class="nav-item">
            <a href="courses.html" class="nav-link">
              <span class="nav-icon material-symbols-rounded">event_note</span>
              <span class="nav-label">Courses</span>
            </a>
            <span class="nav-tooltip">Courses</span>
          </li>
          <li class="nav-item">
            <a href="class_schedule.html" class="nav-link">
              <span class="nav-icon material-symbols-rounded"
                >calendar_month</span
              >
              <span class="nav-label">Class Schedule</span>
            </a>
            <span class="nav-tooltip">Class Schedule</span>
          </li>
          <li class="nav-item">
            <a href="management_class.html" class="nav-link">
              <span class="nav-icon material-symbols-rounded">analytics</span>
              <span class="nav-label">Management Class</span>
            </a>
            <span class="nav-tooltip">Management Class</span>
          </li>
          <li class="nav-item">
            <a href="members.html" class="nav-link">
              <span class="nav-icon material-symbols-rounded">person</span>
              <span class="nav-label">Members</span>
            </a>
            <span class="nav-tooltip">Members</span>
          </li>
          <li class="nav-item">
            <a href="home_team_project.html" class="nav-link">
              <span class="nav-icon material-symbols-rounded">group</span>
              <span class="nav-label">Team Project</span>
            </a>
            <span class="nav-tooltip">Team Project</span>
          </li>
        </ul>

        <!-- Secondary Bottom Navigation -->
        <ul class="nav-list secondary-nav">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <span class="nav-icon material-symbols-rounded"
                >account_circle</span
              >
              <span class="nav-label">Profile</span>
            </a>
            <span class="nav-tooltip">Profile</span>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <span class="nav-icon material-symbols-rounded">logout</span>
              <span class="nav-label">Logout</span>
            </a>
            <span class="nav-tooltip">Logout</span>
          </li>
        </ul>
      </nav>
    </aside>

    <!-- CONTENT TABLE -->
    <section class="home">
      <div class="header"><h1>Vanguard's Members</h1></div>
      <main class="table">
        <section class="table__body">
            <table>
                <thead></thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Birthday</th>
                        <th>NIM</th>
                        <th>Instagram</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><img src="/static/girl.jpg" alt=""><a class="name-link" href="https://pddikti.kemdikbud.go.id/detail-mahasiswa/O4I7ZGahZM8O3NfLB9dR5TUIpI2pkzfTj9Qg5CEBnyB5CAnvGxs38T4tdX4qW6Q5rjfsTQ=="><strong>Mylovia Mahesa Ayu</strong></a></td>
                        <td>Surabaya, 24 Juli 2006</td>
                        <td>24031554001</td>
                        <td>
                            <a class="status username" href="https://www.instagram.com/myhs.24" target="_blank">Follow</a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><img src="/static/boy.jpg" alt=""><a class="name-link" href="https://pddikti.kemdikbud.go.id/detail-mahasiswa/f6ifiazSv-FTOr_4SdRE-ZLCGtpyTS_hEVslavYLMjmJvF1jqnZkLb4NCgwdui9oWk97tw=="><strong href="">Abdullah Al-Firdaus Nuzula</strong></a></td>
                        <td>Malang, 12 Maret 2006</td>
                        <td>24031554008</td>
                        <td>
                            <a class="status username" href="https://www.instagram.com/firadusanzl" target="_blank">Follow</a>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><img src="/static/girl.jpg" alt=""><a class="name-link" href="https://pddikti.kemdikbud.go.id/detail-mahasiswa/TEQR4NoGYOj-vMxAhyhf5s9UmPBkjRpxZWwA5bh6WOs2yo9oQMawFf5F9q5rG2PjQer_ZA=="><strong>Syafira Najema Putri Anisa</strong></a></td>
                        <td>Surabaya, 16 Februari 2006</td>
                        <td>24031554013</td>
                        <td>
                            <a class="status username" href="https://www.instagram.com/na.jeema" target="_blank">Follow</a>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><img src="/static/boy.jpg" alt=""><a class="name-link" href="https://pddikti.kemdikbud.go.id/detail-mahasiswa/HL-VEeXLJh4K5XOp0Qz5X-eZKKxN2a9-IsdJEz-bKnfw04g5PGxSZ6FsrB5X8aZ1IMw_lw=="><strong>Rizki Piji Fathoni</strong></a></td>
                        <td>Boyolali, 9 Juli 2006</td>
                        <td>24031554029</td>
                        <td>
                            <a class="status username" href="https://www.instagram.com/pijizzz" target="_blank">Follow</a>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><img src="/static/girl.jpg" alt=""><a class="name-link" href="https://pddikti.kemdikbud.go.id/detail-mahasiswa/CuCQI_dhOrOziJ_ADyxKglhC0MItoJrH9fwmQlQPBO6Ve_rrVPFLL3eSJlo66hCbQMAKtA=="><strong>Fio Ulaa Octariyanti</strong></a></td>
                        <td>Lampung, 11 Oktober 2005</td>
                        <td>24031554030</td>
                        <td>
                            <a class="status username" href="https://www.instagram.com/fouwlyy" target="_blank">Follow</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td><img src="/static/boy.jpg" alt=""><a class="name-link" href="https://pddikti.kemdikbud.go.id/detail-mahasiswa/o7GBKMtgurJGKBAv1a6BwbG_H884cFOASX2yajFQJgBnPhtzBoKfaEnUQcfsxBk216Kf4Q=="><strong>Alfin Jayadi</strong></a></td>
                        <td>Palembang, 18 Januari 2007</td>
                        <td>24031554082</td>
                        <td>
                            <a class="status username" href="https://www.instagram.com/finn.jyd" target="_blank">Follow</a>
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td><img src="/static/boy.jpg" alt=""><a class="name-link" href="https://pddikti.kemdikbud.go.id/detail-mahasiswa/ppl2yCxjBloWfpW1LWFG4Lxu0I-M9saWgH2ioEgjH-sCIwoq0sIa4yxN-TwzkNo5f6uC4A=="><strong>Dimas Rafi Izzulhaq</strong></a></td>
                        <td>Surabaya, 8 september 2006</td>
                        <td>24031554084</td>
                        <td>
                            <a class="status username" href="https://www.instagram.com/dimsrzul_" target="_blank">Follow</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td><img src="/static/girl.jpg" alt=""><a class="name-link" href="https://pddikti.kemdikbud.go.id/detail-mahasiswa/5qRofxa8cV6W4xDx4p-0pZcz_TdYfmo_E-2ROP9LhXA_ftZEFb_tYFgVkPE68dpATKHAEQ=="><strong>Rizqi Aqilah Cahyani Yuniarto</strong></a></td>
                        <td>Sidoarjo, 27 Mei 2006</td>
                        <td>24031554087</td>
                        <td>
                            <a class="status username" href="https://www.instagram.com/rizqiaqilahh" target="_blank">Follow</a>
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td><img src="/static/boy.jpg" alt=""><a class="name-link" href="https://pddikti.kemdikbud.go.id/detail-mahasiswa/X_UZNSvFY7TR_qCyBu-3N8LyXFtMHwOYC_vMmaU0-9Hc6vICi6dPW8DsoefSVEmZfXeV0w=="><strong>Muhammad Raffi Fahrezi</strong></a></td>
                        <td>Surabaya, 3 Mei 2005</td>
                        <td>24031554100</td>
                        <td>
                            <a class="status username" href="https://www.instagram.com/vvbwuu" target="_blank">Follow</a>
                        </td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td><img src="/static/girl.jpg" alt=""><a class="name-link" href="https://pddikti.kemdikbud.go.id/detail-mahasiswa/r-XIZLIw3IrQbJrDLeOUbKdmHezpYgIN2qsPjK1h2JyoiA3b_6J0HhKHyehaEzACjQz99g=="><strong>Cyriani Neuman Rebo</strong></a></td>
                        <td>Bajawa, 29 Januari 2006</td>
                        <td>24031554108</td>
                        <td>
                            <a class="status username" href="https://www.instagram.com/jeinn__29" target="_blank">Follow</a>
                        </td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td><img src="/static/boy.jpg" alt=""><a class="name-link" href="https://pddikti.kemdikbud.go.id/detail-mahasiswa/QxnHyyej337ggA_WGvf07qvhOLONb2nXbPKvI1RZnK6xA6uLJ2o5-3x7BXq0mO5JASpsAQ=="><strong>Ketut Shridhara</strong></a></td>
                        <td>Luwu Timur, 27 Maret 2007</td>
                        <td>24031554115</td>
                        <td>
                            <a class="status username" href="https://www.instagram.com/darashri" target="_blank">Follow</a>
                        </td>                            
                    </tr>
                    <tr>
                        <td>12</td>
                        <td><img src="/static/boy.jpg" alt=""><a class="name-link" href="https://pddikti.kemdikbud.go.id/detail-mahasiswa/SB7sZUa2iHZQAG1XBjt-N5SYxkSxQ6jP0XxWeAVsjxMjYQ9hxoyHEYzgU51kA4041f9EMg=="><strong>Nazril Ravi Pratama</strong></a></td>
                        <td>Sidoarjo, 16 September 2005</td>
                        <td>24031554129</td>
                        <td>
                            <a class="status username" href="https://www.instagram.com/tama_rav16" target="_blank">Follow</a>
                        </td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td><img src="/static/girl.jpg" alt=""><a class="name-link" href="https://pddikti.kemdikbud.go.id/detail-mahasiswa/Ech5jRbIK4JDIBSBlNSSQuJvqBTda-_QvY7nRUKNeKjpAkhFkHpeRcHP1fBmUGez082S_A=="><strong>Halilatunisa</strong></a></td>
                        <td>Bima, 3 Agustus 2006</td>
                        <td>24031554130</td>
                        <td>
                            <a class="status username" href="https://www.instagram.com/halilanisa" target="_blank">Follow</a>
                        </td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td><img src="/static/girl.jpg" alt=""><a class="name-link" href="https://pddikti.kemdikbud.go.id/detail-mahasiswa/X8xEQ72VQgQaDVyTMV8EvMNCdG1omsNZM924t4fLLUAD5K5esITj6NiqxIXIFz4fa9EF_w=="><strong>Naura Kanaya Putri Masruri</strong></a></td>
                        <td>Jakarta, 7 Februari 2006</td>
                        <td>24031554138</td>
                        <td>
                            <a class="status username" href="https://www.instagram.com/nauraile" target="_blank">Follow</a>
                        </td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td><img src="/static/boy.jpg" alt=""><a class="name-link" href="https://pddikti.kemdikbud.go.id/detail-mahasiswa/Edcv9EklqHoMGeWpXr8glKLnI06PP1EEg7iU3WJTJGTl1UMLTvJNVOEtK-Q0idZn7BQBwg=="><strong>Daffa Ahmad Pangreksa</strong></a></td>
                        <td>Gresik, 17 Mei 2006</td>
                        <td>24031554159</td>
                        <td>
                            <a class="status username" href="https://www.instagram.com/dffaa.ap" target="_blank">Follow</a>
                        </td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td><img src="/static/boy.jpg" alt=""><a class="name-link" href="https://pddikti.kemdikbud.go.id/detail-mahasiswa/2EZqcWUg7DxBI1U7Cg2R9idU-spNzV5frRrSOQY8HyISv_joF72ZISMcFZ1EiswTjwMKFQ=="><strong>Faishal Muflih Irfanu Tsaqib</strong></a></td>
                        <td>Lamongan, 18 Februari 2006</td>
                        <td>24031554170</td>
                        <td>
                            <a class="status username" href="https://www.instagram.com/faishalmuflih8" target="_blank">Follow</a>
                        </td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td><img src="/static/girl.jpg" alt=""><a class="name-link" href="https://pddikti.kemdikbud.go.id/detail-mahasiswa/ffrQegU9CSxkpLW5eOwRl_ixT7SPnU0q6oEeDUIcxPYPm-fz6nvQ-QwKDuusxaJzqo3TZw=="><strong>Elvira Tiara Suci Tambunan</strong></a></td>
                        <td>Bogor, 20 Mei 2006</td>
                        <td>24031554213</td>
                        <td>
                            <a class="status username" href="https://www.instagram.com/elviratiaraa" target="_blank">Follow</a>
                        </td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td><img src="/static/girl.jpg" alt=""><a class="name-link" href="https://pddikti.kemdikbud.go.id/detail-mahasiswa/t8ZOknDIiwGdVIDsXCny-lPd_EDGJ49fVorHwGezgjYaLjzv00tLgoVkRl37BIn7IvsRmg=="><strong>Illona Anindya</strong></a></td>
                        <td>Cirebon, 4 Juni 2006</td>
                        <td>24031554213</td>
                        <td>
                            <a class="status username" href="https://www.instagram.com/illonaannd" target="_blank">Follow</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    </main>
    </section>
    <script src="{{url_for('static', filename='scripts/sidebars.js')}}"></script>
  </body>
</html>
